/node_modules
/modern/node_modules
/modern/apps/*/node_modules
/modern/apps/*/dist
/modern/apps/server/.data
/modern/packages/*/dist
/legacy/node_modules
/legacy/public/hot
/legacy/public/storage
/legacy/vendor
/legacy/storage/*.key
/legacy/.env
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/codeStyles/Project.xml

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
