.card-container{
    perspective: 1000px;
    @apply mx-1 h-full;
    height:150px;
    position: relative;
}
.card-container.flipped .card{
    transform: rotateY(180deg);
}

.card{
    transition: transform 0.5s;
    transform-style: preserve-3d;
    cursor:pointer;
}
.card-front, .card-back{
    backface-visibility: hidden;
    position: absolute;
}
.card, .card-front, .card-back{
    @apply w-1/2 h-full;
    min-width:95px; // card smallest size
}

.card-front{
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}
.card-back{
    transform: rotateY(180deg);
}

.hand{
    height:100px;
    display:block;
}
